Code/detection/models/megadetector.pb
Code/detection/models/yolov8s.pt
ChimpRec-Dataset/CCR
ChimpRec-Dataset/Chimpanzee_detection_dataset
ChimpRec-Dataset/chimpbehave
Code/Body_detection/YOLO/bodies/runs
Code/Body_detection/YOLO/faces/runs
Code/Output_videos
